body {
  font-family: 'Helvetica', sans-serif;
}
.post {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 1.5em;
  padding: 2em;
  box-shadow: 0px 0px 6px grey;
}
.title{
    font-size: 2em;
    color: grey;
    margin-bottom: 0px;
}
.author, .date{
    margin: 0px;
}
.date{
    color: rgb(165, 164, 164);
}
